/* AddItem.css */

.add-item-container {
    min-height: 100vh;
  }
  
  .add-item-card {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-item-card .form-group {
    margin-bottom: 15px;
  }
  
  /* AddItem.css */

/* Existing styles */

.loading-indicator {
    text-align: center;
  }
  
  .loading-emoji {
    font-size: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #ccc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    animation: spin 1s linear infinite; /* Add this line */
  }
  
  .loading-indicator p {
    margin-top: 10px;
  }
  
  /* Add keyframes for spinning animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  