.custom-link {
  text-decoration: none;
    border: 1px solid black;
    padding: 9px;
    border-radius: 11px 4px;
    color: #000;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
    margin: 6px 11px;
}

.custom-link:hover {
  color: #fff;  /* Change text color to white on hover */
  background-color: #343a40;  /* Change background color to dark on hover */
  border-color: #343a40;  /* Change border color to match background on hover */
}
.nav-dropdown-custom .dropdown-toggle {
  font-size: 1.25rem; /* Adjust the size as needed */
}

.nav-dropdown-custom .dropdown-item {
  font-size: 1.25rem; /* Adjust the size as needed */
}